**/bin/
**/obj/
.vs/
.artifacts/
artifacts/
TestResults/
node_modules/
*.user
*.suo
*.mcupack
*.log
**/.build/
**/__pycache__/
*.py[cod]
.env
.env.*
*.pfx
*.p12

tmp/
.git-credentials
*.pem
*.key
*.sqlite
*.db
